.nav {
    background-color: #333;
    padding: 10px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav ul li {
    margin-right: 20px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav ul li a:hover {
    color: rgb(8, 194, 207);
}

.body {
    background-image: url("neon.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.video {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.audio {
    display: block;
    margin: auto;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
